h1, h3 {
	color: blue;
	font-family: Helvetica, sans-serif;
}

.title {
	background-color: Yellow;
	padding: 10px 5px;
}

.image {
	text-align: center;
	margin: 10px;
}

.description {
	font-family: Helvetica, sans-serif;
}